.sitenav {
    display: flex;
    align-items: center;
    gap: 3rem;

    &__list {
        display: flex;
        align-items: center;
        gap: 3.2rem;
    }

    &__link {
        font-size: 15px;
        line-height: 20px;
    }

    &__link:hover {
        color: $primary-blue;
    }
}

.active {
    color: $primary-blue;
}