.button {
    padding: 19px 35px 21px 35px;
    background: $primary-blue;
    border-radius: 6px;
    color: #fff;
    
    &:hover {
        background: #4ca3f0f8;
        cursor: pointer;
        
    }
}

